.ui-item {
    cursor: pointer;
    background-color: linear-gradient(145deg, #e6e6e6, var(--color-1));
    border-radius: var(--border-radius);
    width: 275px;
    box-shadow: 16px 16px 41px #b8b8b8,
    -16px -16px 41px #ffffff;
    padding: 0.2rem;
}

.ui-item:hover {
    transition: all ease 150ms;
    opacity: .6;
}

.ui-image {
    border-radius: var(--border-radius);
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-block-text {
    padding: .5rem;
}

.ui-small-section {
    display: flex;
    font-size: var(--font-size-3);
    justify-content: space-between;
    font-weight: 500;
    align-content: center;
    align-items: center;
    gap: .35rem
}

.ui-author {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    object-fit: cover;
}

.ui-more-info {
    display: flex;
    flex-direction: column;
    gap: .35rem;
}